# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# SQLite game database
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
